* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #ffffff;
    color: #0b694a;
    padding: 40px 0;
  }
  
  .header-content {
    text-align: left;
  }
  
  .profile-picture {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: right;
  }
  
  .profile-picture img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 65%;
    height: 50vh;
    object-fit: cover;
  }
  
  .about,
  .projects,
  .contact {
    padding: 40px 0;
  }
  
  h2 {
    color: #333;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  